* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  /* min-height: 100vh; */
  background-color: #010409;
}
.Wrap {
  width: 100%;
  max-width: 880px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
.Container {
  padding: 80px 0;
  min-height: calc(100vh - 146px);
}
button {
  cursor: pointer;
  color: #FFF;
}
button:hover {
  /* opacity: 0.7; */
  transition: all 0.3s;
  color: #FFD400;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #FFF;
}
a:hover {
  /* opacity: 0.7; */
  transition: all 0.3s;
  color: #FFD400;
}
p {
  margin: 0;
}
select:focus {
  outline: none;
}
input:focus {
  outline: none;
}
.Title01 {
  color: #d1d4dc;
  font-size: 28px;
}
.Title02 {
  color: #d1d4dc;
  font-size: 24px;
}
.Title03 {
  color: #d1d4dc;
  font-size: 20px;
}
.Text01 {
  color: #d1d4dc;
  font-size: 16px;
}
.Text02 {
  color: #d1d4dc;
  font-size: 14px;
}
.Text03 {
  color: #d1d4dc;
  font-size: 12px;
}
.White {
  color: #FFF;
}
.Gray {
  color: #EDEDED;
}
.Bold {
  font-weight: 600;
}
.Strong {
  color: #FDA350;
}
@media (max-width: 768px) {
  .Wrap {
    width: 100%;
    max-width: 880px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  
}