.Chat {
    width: 100%;
    height: calc(100vh - 60px);
}
.Chat .ChatWrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.Chat .ChatRoomLists {
    position: relative;
    width: 300px;
    height: 100%;
    border-right: 1px solid #777;
    background-color: #191919;
    transition: all 0.3s;
    box-sizing: border-box;
}
.Chat .ChatRoomListsHide {
    margin-left: -300px;
}
.ChatRoomListsHead {
    width: 100%;
    height: 60px;
    display: flex;
    border-bottom: 1px solid #FFF;
    align-items: center;
    justify-content: center;
}
.ChatRoomListsCategory {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FFF;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: space-between;
}
.ChatRoomListsCategory .PlusBtn {
    cursor: pointer;
}
.ChatRoomList {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #FFF;
    cursor: pointer;
}

.ChatRoomListsController {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    display: flex;
    border-top: 1px solid #FFF;
}
.ChatRoomListsController div {
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Chat .ChatRoom {
    width: calc(100% - 300px);
    height: 100%;
    box-sizing: border-box;
    background-color: #2f2f2f;
    position: relative;
    transition: all 0.3s;
}
.Chat .ChatRoomActive {
    width: 100%;
}
.Chat .ChatContentWrap {
    width: 100%;
    max-height: calc(100% - 50px);
    padding: 20px 0 80px;
    box-sizing: border-box;
    overflow-y: scroll;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}
.Chat .ChatContentWrap::-webkit-scrollbar {
    display: none;
}
.Chat .ChatContent {
    margin: 10px 30px 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Chat .ChatContentRight {
    justify-content: flex-end;
}
.Chat .ChatContent .ProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
}
.Chat .ChatContent .ProfileImgLeft {
    margin-right: 30px;
}
.Chat .ChatContent .ProfileImgRight {
    margin-left: 30px;
}
.Chat .ChatContent .ProfileImg img{
    width: 100%;
    height: 100%;
}
.Chat .ChatContent p {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 25px;
    box-sizing: border-box;
    max-width: 60%;
    background-color: #fff;
}
.Chat .ChatInputWrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #4b4b4b;
}
.Chat .ChatInputWrap input {
    width: calc(100% - 80px);
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: inherit;
    border: none;
}
.Chat .ChatInputWrap button {
    width: 80px;
    color: #000;
    background-color: inherit;
    border: none;
}
.ChatSideBtn {
    border: none;
    background-color: inherit;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}