.Login {
    padding: 80px 0;
    width: 100%;
    background-color: #010409;
    box-sizing: border-box;
}
.LoginWrap {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.LoginInput {
    width: 100%;
    border: 3px solid #75481F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: #fff;
}

.LoginInput label{
    font-size: 20px;
    font-weight: 600;
    color: #75481F;
    margin: 20px 0;
}

.LoginInput input{
    max-width: 350px;
    width: 100%;
    padding: 15px 25px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #75481F;
}
.LoginInput button {
    font-size: 20px;
    font-weight: 600;
    max-width: 350px;
    width: 100%;
    padding: 15px 25px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #FFF;
    background-color: #75481F;
    border: 1px solid #75481F;
    margin-top: 40px;
    margin-bottom: 40px;
}