#Header {
    width: 100%;
    height: 60px;
    /* border-bottom: 1px solid #363636; */
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
}
#Header .Wrap{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#Header .Logo {
    width: 30px;
}
#Header .Menu {
    font-size: 18px;
    font-weight: 600;
    margin: 30px;
}
#Header .LoginBtn {
    font-size: 18px;
    font-weight: 600;
}
#Header button {
    background-color: inherit;
    border: none;
}
.MobileHeader {
    display: none;
}
@media (max-width : 768px) {
    .WebHeader {
        display: none !important;
    }
    .MobileMenu {
        color: #8a8a8a;
        cursor: pointer;
        font-size: 18px;
    }
    .MobileHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
}