#Header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #363636;
}
#Header .Wrap{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#Header .Logo {
    width: 30px;
}
#Header .Menu {
    font-size: 18px;
    font-weight: 600;
    margin: 30px;
}
#Header .LoginBtn {
    font-size: 18px;
    font-weight: 600;
}
#Header button {
    background-color: inherit;
    border: none;
}